title: "caps_lock to command+control+option",
rules: [  
  {
    description: "Change caps_lock key to command+control+option.",
    manipulators: [
      {
        type: "basic",
        from: {
          key_code: "caps_lock",
          modifiers: {
            optional: [
              "any"
            ]
          }
        },
        to: [
          {
            key_code: "left_command",
            modifiers: [
              "left_control",
              "left_option"
            ]
          }
        ]
      }
    ]
  },
  
  {
    description: "command+control+option + escape to control+command+Q (lock screen)",
    manipulators: [
      {
        type: "basic",
        from: {
          key_code: "escape",
          modifiers: {
            mandatory: [
              "left_command",
              "left_control",
              "left_option"
            ]
          }
        },
        to: [
          {
            key_code: "q",
            modifiers: [
              "left_control",
              "left_command"
            ]
          }
        ]
      }
    ]
  },
  
]
